#chat-messages .id-13720951 .badge-box i.bdg {
	background-image: url('https://i.imgur.com/wSNN6i7.gif') !important;
	background-size: cover !important;
}
#chat-messages .id-13720951 {
        background: linear-gradient(to right,rgba(4, 166, 252, 0.25) 0,rgba(17, 19, 23, 0.5) 100%) !important;
        border-left: 3px solid rgba(4, 166, 252, 1) !important;
}
[data-cid^="13720951"] .msg .from .un {
        color: rgba(4, 166, 252, 1) !important;
}
#chat-messages .id-13720951 .badge-box {
        background:none !important;
        border: 2px solid rgba(4, 166, 252, 1) !important;
}
#chat-messages .id-13720951 .icon {
    display: none !important;
}
[data-cid^="13720951-"] .msg .from .un {
	position: relative !important;
	left: -1px !important;
	padding-left: 18px !important;
	background-image: url('https://i.imgur.com/l3djc9f.gif') !important;
	background-repeat: no-repeat !important;
	background-position: 0 center !important;
	background-size: 14px auto !important;
}
[data-cid^="13720951-"] .msg .from .un:hover:after {
content:' "I am Ekko! Good see you." ' !important;
}
