#room .app-right, .app-right .friends .header {
    background: rgba(10, 10, 10, 0.85) !important;
}
#chat .emote, #chat .mention, #chat .message, #chat .moderation, #chat .skip, #chat .system, #chat .update, #chat .welcome, #waitlist .list .user, .app-right .friends {
    background: none !important;
}
#chat .emote:nth-child(2n+1), #chat .mention:nth-child(2n+1), #chat .message:nth-child(2n+1), #chat .moderation:nth-child(2n+1), #chat .skip:nth-child(2n+1), #chat .system:nth-child(2n+1), #chat .update:nth-child(2n+1), #chat .welcome:nth-child(2n+1), rcs-deleted-message {
    background: rgba(10, 10, 10, 0.65) !important;
}
#chat .mention.is-dj, #chat .mention.is-staff {
    background: linear-gradient(to left,rgba(4, 166, 252, 0.25) 0,rgba(17, 19, 23, 0.5) 100%) !important;
    border-right: 3px solid rgba(4, 166, 252, 1) !important;
}
#user-lists .list .user:hover, #waitlist .list .user:hover, .app-right .friends .list .row:hover, .rsrow:hover {
    background: linear-gradient(to right,rgba(4, 166, 252, 0.25) 0,rgba(17, 19, 23, 0.5) 100%) !important;
    border-left: 3px solid rgba(4, 166, 252, 1) !important;
}
#chat-messages .cm.mention:hover, #chat-messages .cm.emote:hover, #chat-messages .cm.log:hover, #chat-messages .cm.message:hover {
    background: rgba(4, 166, 252, 0.15) !important;
}
#rcs-menu .group:hover {
    background: linear-gradient(to left,rgba(4, 166, 252, 0.25) 0,rgba(17, 19, 23, 0.5) 100%) !important;
}
