#room-host, #room-name {
  left: 105px;
}
#room-bar .icon-room {
  top: 6px;
  left: 10px;
}
i.icon.icon-room {
  width: 130px;
  height: 40px;
}
.icon-room {
  background: url(http://i.imgur.com/6pvot4W.png) no-repeat;
  width: 0px;
  height: 0px;
  background-size: 65%;
}
